{%extends 'dbmp_base.html' %}

{% load staticfiles %}

<!-- 添加该页面自己需要的 css 模板 -->
{% block css %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>
{% endblock %}


<!-- 显示该页面标题 -->
{% block app_title %}SQL审核(check){% endblock %}

{% block top_element %}
{% endblock %}

<!-- 显示该页面主要展示的内容 -->
{% block content %}

<section id="mysql_database">
    <h2 class="page-header">数据库信息</h2>
    <div id="database_row" class="row">
        <input type="hidden" id="mysql_database_id" value="">

        <div id="database_name_div" class="col-md-4">
        </div>
        <div id="database_ip_div" class="col-md-4">
        </div>
        <div id="database_port_div" class="col-md-4">
        </div>
    </div>

    <h4>&nbsp;</h4>
    
    <div class="row">
        <div class="col-md-3">
            <a id="database_list"><i class="fa fa-database"></i>
                选择数据库
            </a>
        </div>
    </div>
</section>

<section id="inception_instance">
    <h2 class="page-header">审核信息</h2>
    <form class="form-horizontal m-t">
        <div id="inception_instnace_div" class="form-group"> <!-- 选择审核的实例 -->
            <label class="col-sm-3 control-label">
                <span class="text-danger">*</span>
                Inception实例：
            </label>
            <div class="col-sm-8">
                <select class="form-control m-b" id="inception_instance_id"> 
                </select>
            </div>
        </div>

        <div id="sql_test_div" class="form-group"> <!-- 需要审核的SQL -->
            <label class="col-sm-3 control-label">
                需要审核的SQL：
            </label>
            <div class="col-sm-8">
                <textarea id="sql_text" type="text" class="form-control" rows="10"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button type="button" id="inception-btn" class="btn btn-primary"
                        onclick="sql_inception()">
                    <i class="fa fa-eye"></i>
                    审核
                </button>
            </div>
        </div>
    </form>
</section>
<section id="inception_instance">
    <h2 class="page-header">审核结果</h2>
<table class="footable table table-stripped toggle-arrow-tiny table-hover">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Stage</th>
            <th class="text-center">ErrLeve</th>
            <th class="text-center">StageStatus</th>
            <th class="text-center">ErrorMessage</th>
            <th data-hide="all">SQL</th>
            <th class="text-center">AffectedRows</th>
            <th data-hide="all">Sequence</th>
            <th data-hide="all">BackupDBName</th>
            <th class="text-center">ExecuteTime</th>
            <th data-hide="all">SQLSha1</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="text-center"><code>111</code></td>
            <td class="text-center"><code>EXECUTED</code></td>
            <td class="text-center"><code>0</code></td>
            <td class="text-center"><code>Execute Successfully</code></td>
            <td class="text-center"><code>None</code></td>
            <td class="text-center">
                <pre>{{ sql }}</pre>
            </td>
            <td class="text-center"><code>111</code></td>
            <td class="text-center"><code>1475916128_12_2</code></td>
            <td class="text-center"><code>192_168_1_233_3307_test</code></td>
            <td class="text-center"><code>0.390</code></td>
            <td class="text-center"><code>*8B8000E5095CBF403386B00805829BFAE07977EE</code></td>
        </tr>
    </tbody>
</section>
{% endblock %}

<!-- 添加该页面自己需要的 js 模板 -->
{% block js %}
    <script src="{% static 'js/content.min.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

    <script>
        // 使用 Django csrf 功能
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});

        $(document).ready(function(){
            // 表格插件
            $(".footable").footable();

            // 设置Inception实例
            set_inception_instance();

            // 弹出实例窗口
            $('#database_list').on('click', function(){
                layer.open({
                    type: 2,
                    title: '选择需要审核的数据库',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['70%' , '80%'],
                    content: '{% url 'list_instance_use_inception_record_check' %}'
                });
            });
        });

        // 获取Inception实例
        function set_inception_instance() {
            $.ajax({
                url: "{% url 'dbmp_inception_instance_ajax_get_all' %}",
                type: "POST",
                dataType: "json"
            }).done(function(data) { 
                select_option_html = "";
                // 构造 select option 的html
                for(i=0; i<data.length; i++) {
                    select_option_html += "<option value='" + data[i].inception_instance_id + "'>" + data[i].alias + "</option>";
                }
                // 添加 选中Inception 实例的 option
                $("#inception_instance_id").append(select_option_html);
            }).error(function(data) {
            });
        }

        // 对SQL进行审核
        function sql_inception() {
            // 获取审核需要的信息
            // 1.获取数据库ID
            mysql_database_id = $("#mysql_database_id").val();
            // 2.获取Inception实例ID
            inception_instance_id = $("#inception_instance_id").val();
            // 3.获取需要审核的SQL
            sql_text = $("#sql_text").val();

            // 验证相关信息是否正确
            // 1.判断获取数据库
            if(mysql_database_id == null || mysql_database_id == "") {
                toastr.error("没有获取到需要审核的数据库");
                return false;
            }
            // 2.获取Inception实例ID
            if(inception_instance_id == null || inception_instance_id == "") {
                toastr.error("没有获取到Inception实例");
                return false;
            }
            // 3.获取需要审核的SQL
            if(sql_text == null || sql_text == "") {
                toastr.error("没有获取到需要审核的SQL");
                return false;
            }

            $.ajax({
                url: "{% url 'dbmp_inception_record_ajax_check' %}",
                type: "POST",
                dataType: "json",
                data: {
                    mysql_database_id: mysql_database_id,
                    inception_instance_id: inception_instance_id,
                    sql_text: sql_text
                }
            }).done(function(data) { 
                console.log(data);
                if(data.is_ok == false) {
                    toastr.error("执行审核失败");
                } else {

                }
            }).error(function(data) {
                toastr.error("请求审核失败");
            });
        }

    </script>
{% endblock %}
