{%extends 'dbmp_base.html' %}

{% load staticfiles %}
{% load ip_filters %}
{% load filters_dbmp_inception_record %}

<!-- 添加该页面自己需要的 css 模板 -->
{% block css %}
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block app_title %}上线SQL(明细){% endblock %}

<!-- 其他元素模块 -->
{% block top_element %}
<div class="row">
    <div class="col-md-5">
        <div class="row fontawesome-icon-list">
            <!-- 添加返回需要上线列表 -->
            <div class="fa-hover  col-md-5">
                <a href="{% url 'dbmp_mysql_business_index' %}">
                    <i class="fa fa-list"></i>
                    上线SQL列表
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- 显示该页面主要展示的内容 -->
{% block content %}
<!-- 业务组信息 -->
<section id="inception_info">
    <h2 class="page-header">上线SQL信息&nbsp;
        <span class="label label-{{ dbmp_inception_record.execute_status | f_inc_rec_execute_status_color }}">
            {{ dbmp_inception_record.execute_status | f_inc_rec_execute_status }}
        </span>
    </h2>

    <div class="row">
        <input type="hidden" id="inception_record_id"
               value="{{ dbmp_inception_record.inception_record_id }}">
        <input type="hidden" id="inception_instance_id"
               value="{{ dbmp_inception_incestance.inception_instance_id }}">
        <input type="hidden" id="inception_instance_host"
               value="{{ dbmp_inception_incestance.host | f_num2ip }}">
        <input type="hidden" id="inception_instance_port"
               value="{{ dbmp_inception_incestance.port }}">

        <div class="col-md-4">
            <strong>Inception实例：</strong>
                <code>{{ dbmp_inception_instance.alias }}</code>
        </div>
        <div class="col-md-4">
            <strong>创建时间：</strong>
                <code>{{ dbmp_inception_record.create_time | date:'Y-m-d H:i:s' }}</code>
        </div>
        <div class="col-md-4">
            <strong>更新时间：</strong>
                <code>{{ dbmp_inception_record.update_time | date:'Y-m-d H:i:s' }}</code>
        </div>
    </div>

    <h4>&nbsp;<h4>

    <div class="row">
        <div class="col-md-4">
            <strong>标签：</strong>
            <code>{{ dbmp_inception_record.tag }}</code>
        </div>
        <div class="col-md-8">
            <strong>备注：</strong>
            {{ dbmp_inception_record.remark }}
        </div>
    </div>

    <h4>&nbsp;<h4>

    <div class="row">
        <pre>{{ dbmp_inception_record.sql_text }}</pre>
    </div>
<section>

{% endblock %}

<!-- 扩展元素模块 -->
{% block extend_element %}
<div class="row">
    <div class="col-sm-6 col-xs-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>需要上线的(数据库)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="table_basic.html#">选项1</a>
                        </li>
                        <li><a href="table_basic.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>数据库名</th>
                            <th>实例Host</th>
                            <th>端口</th>
                            <th class="col-sm-2 col-xs-2">操作</th>
                        </tr>
                    </thead>
                    <tbody id="database_tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>需要上线的(业务组)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="table_basic.html#">选项1</a>
                        </li>
                        <li><a href="table_basic.html#">选项2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>业务名称</th>
                            <th>备注</th>
                            <th class="col-sm-2 col-xs-2">操作</th>
                        </tr>
                    </thead>
                    <tbody id="business_tbody">
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- 添加该页面自己需要的 js 模板 -->
{% block js %}
    <script src="{% static 'js/content.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

    <script>
        // 使用 Django csrf 功能
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});

        $(document).ready(function(){
            // 获得 数据库/业务组
            show_database_and_business();
        });

        // 显示数据库和业务组
        function show_database_and_business() {
            // 获得审核目标 1数据库 2业务组 3混合
            inception_target = {{ dbmp_inception_record.inception_target }};
            // 获得 inception_record_id
            inception_record_id = $("#inception_record_id").val();
            // 显示数据库
            if (inception_target == 1 || inception_target == 3) {
                show_database(inception_record_id);
            }
            // 显示业务组
            if (inception_target == 2 || inception_target == 3) {
                show_business(inception_record_id);
            }
        }

        // 显示数据库
        function show_database(inception_record_id) {
            $.ajax({
                url: "{% url 'dbmp_inception_database_ajax_find_by_inception_record_id' %}",
                type: "POST",
                dataType: "json",
                data: {
                    inception_record_id: inception_record_id
                }
            }).done(function(data) { 
                if(data.is_ok == false){
                    toastr.error(data.err_msg);
                } else if(data.is_ok = true) {
                    if(data.databases != null && data.databases.length > 0) {
                        add_database_html(data.databases);
                    }
                } else {
                    toastr.warning("返回数据错误, 未能正确获取审核数据库信息");
                }
            }).error(function(data) { 
                toastr.error("请求获取审核数据库失败");
            });
        }

        // 显示业务组
        function show_business(inception_record_id) {
            $.ajax({
                url: "{% url 'dbmp_inception_business_ajax_find_by_inception_record_id' %}",
                type: "POST",
                dataType: "json",
                data: {
                    inception_record_id: inception_record_id
                }
            }).done(function(data) { 
                if(data.is_ok == false){
                    toastr.error(data.err_msg);
                } else if(data.is_ok = true) {
                    if(data.databases != null && data.databases.length > 0) {
                        add_database_html(data.databases);
                    }
                } else {
                    toastr.warning("返回数据错误, 未能正确获取审核业务组信息");
                }
            }).error(function(data) { 
                toastr.error("请求获取审核业务组失败");
            });
        }
        
        // 添加审核数据库信息HTML
        function add_database_html(databases) {
            html_str = "";
            tr_color_class = "";
            botton_html = "";

            for(i=0; i<databases.length; i++) {
                // 通过不同状态获取不同的 按钮 和每行颜色
                if(databases[i].execute_status == 1) { // 未运行
                    botton_html += '<button type="button" class="btn btn-xs btn-primary btn-outline"';
                    botton_html += '        onclick="execute_database_inception()">';
                    botton_html += '    <i class="fa fa-chevron-circle-right"></i>';
                    botton_html += '    执行';
                    botton_html += '</button>';
                } else if(databases[i].execute_status == 2) { // 运行成功
                    tr_color_class += "success";
                    botton_html += '<a>';
                    botton_html += '    <i class="fa fa-check text-navy"></i>';
                    botton_html += '    成功';
                    botton_html += '</a>';

                } else if(databases[i].execute_status == 3) { // 运行失败
                    tr_color_class += "danger";
                    botton_html += '<button type="button" class="btn btn-xs btn-primary btn-outline"';
                    botton_html += '        onclick="execute_database_inception()">';
                    botton_html += '    <i class="fa fa-chevron-circle-right"></i>';
                    botton_html += '    执行';
                    botton_html += '</button>';
                }
                html_str += '<tr class="' + tr_color_class + '">';
                html_str += '    <td><code>' + databases[i].name + '</code></td>';
                html_str += '    <td><code>' + databases[i].host + '</code></td>';
                html_str += '    <td><code>' + databases[i].port + '</code></td>';
                html_str += '    <td>';
                html_str +=          botton_html;
                html_str += '    </td>';
                html_str += '</tr>';
            }

            $("#database_tbody").html(html_str);
        }

        // 添加审核数据库信息HTML
        function add_business_html(data) {

        }
    </script>
{% endblock %}
