{%extends 'dbmp_base.html' %}

{% load staticfiles %}
{% load ip_filters %}
{% load filters_dbmp_mysql_instance %}

<!-- 添加该页面自己需要的 css 模板 -->
{% block css %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet"/>

    <style type="text/css">
        .spin{
            -webkit-transform-origin: 50% 50%;
            transform-origin:50% 50%;
            -ms-transform-origin:50% 50%; /* IE 9 */
            -webkit-animation: spin .8s infinite linear;
            -moz-animation: spin .8s infinite linear;
            -o-animation: spin .8s infinite linear;
            animation: spin .8s infinite linear;
        }
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
    </style>
{% endblock %}

{% block app_title %}MySQL实例详细信息{% endblock %}

<!-- 其他元素模块 -->
{% block top_element %}
<div class="row fontawesome-icon-list">
    <!-- 添加返回MySQL实例列表按钮 -->
    <div class="fa-hover col-md-2 col-sm-3">
        <a href="{% url 'list_instance_use_business_detail' %}">
            <i class="fa fa-home"></i>
            实例列表
        </a>
    </div>
</div>
{% endblock %}

<!-- 显示该页面主要展示的内容 -->
{% block content %}
<!-- 数据库列表 -->
<section id="databases_section">
    <h2 class="page-header">数据库列表</h2>
     
    <div id="database_list">
        <table class="footable table table-stripped toggle-arrow-tiny table-hover" data-page-size="100">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">数据库名</th>
                    <th class="text-center">同步时间</th>
                    <th data-hide="all">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
<section>
{% endblock %}

<!-- 添加该页面自己需要的 js 模板 -->
{% block js %}
    <script src="{% static 'js/content.min.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>
    <script src="{% static 'js/plugins/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/plugins/toastr/toastr.min.js' %}"></script>

    <script>
        // 使用 Django csrf 功能
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});

        $(document).ready(function(){
            // 显示密码
            $("[data-toggle='password']").tooltip();

            // 测试MySQL连接是否正常
            $('#test_mysql_alived').on('click', function() {
                test_mysql_alived();
            });

            // 同步实例数据库
            $('#sync_database').on('click', function() {
                sync_database(2000);
            });

            // 创建获得MysQL实例数据库列表
            create_database_list({{ dbmp_mysql_instance.mysql_instance_id }});
        });

    </script>
{% endblock %}
