{% load staticfiles %}

<li>
    <a href="#"><i class="fa fa-database"></i> <span class="nav-label">MySQL维护</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="#">实例管理<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a class="J_menuItem" href="form_webuploader.html">实例列表</a>
                </li>
                <li><a class="J_menuItem" href="form_file_upload.html">添加实例</a>
                </li>
            </ul>
        </li>
        <li><a class="J_menuItem" href="form_validate.html">高可用(HA)</a>
        </li>
        <li><a class="J_menuItem" href="form_advanced.html">业务实例</a>
        </li>
        <li><a class="J_menuItem" href="form_wizard.html">审核上线</a>
        </li>
        <li>
            <a href="#">运维工具<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li><a class="J_menuItem" href="form_webuploader.html">百度WebUploader</a>
                </li>
                <li><a class="J_menuItem" href="form_file_upload.html">DropzoneJS</a>
                </li>
                <li><a class="J_menuItem" href="form_avatar.html">头像裁剪上传</a>
                </li>
            </ul>
        </li>
    </ul>
</li>
